<nav class="nav nav-admin">
  <div class="nav-admin title"><%= t('.panel') %>&nbsp;<%= link_to t('shared.navbar.TestGuru'), root_path %></div>

  <div class="nav-admin user">
    <%= t('.welcoming') %>&emsp;<b class="nav-admin user-email"><%= current_user.first_name %></b>
    <%= button_to t('.quit'), destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  </div>
</nav>
