<nav class="navbar navbar-light bg-light">
  <%= link_to t('shared.navbar.TestGuru'), root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <div class="navbar-brand"><%= link_to t('admin.nav.panel'), admin_tests_path if current_user.is_a?(Admin) %></div>
        <p class="nav user"><%=t('.welcome') %>&emsp;<b><%= current_user.first_name %>&emsp;</b>
        <%= link_to t('shared.navbar.TestGuru'), root_path %></p>
        <%= button_to t('.quit'), destroy_user_session_path, method: :delete, class:'btn btn-primary'  %>
    <% else %>
      <p class="nav user">
      <%= link_to t('.register'), new_user_registration_path %>&emsp;
      <%= link_to t('.login'), new_user_session_path %>
      </p>
    <% end %>
  </span>
</nav>
