
<div class="row justify-content-center mt-3">
  <div class="col col-md-4"><h1><%= t('.test_begin', title: @result.test.title) %></h1>

      <p>
        <%= t('.question_number') %> <%= @result.test.questions.order(id: :asc).find_index(@result.current_question) + 1 %> / <%= t('.of') %><%= @result.test.questions.count %>
      </p>

      <b>
        <%= @result.current_question.body %>
      </b>

      <%= form_with url: result_path(@result), local: true, method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object.id}" %>
            <%= b.label %>
          </p>
        <% end %>

        <p><%= link_to t('.gist_question'), gists_path(@result), method: :post %></p>
        <p><%= form.submit t('.next') %></p>
      <% end %>
  </div>
</div>
