<p>
  <strong><%= t('.name') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.author') %></strong>
  <%= @test.author.first_name %>
  <%= @test.author.last_name %>
</p>

<p>
  <strong><%= t('.category') %></strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.questions_count') %></strong>
  <%= @test.questions.count %>
</p>

<p>
  <strong><%= t('.test_questions') %></strong>
  <table>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </table>
</p>

<p>
  <strong><%= t('.timer') %></strong>
  <%= @test.timer %>
  <%= t('.no_time_limit') unless @test.timer  %>
</p>

<%= link_to t('.edit'), edit_admin_test_path(@test) %><br>
<%= link_to t('.add'), new_admin_test_question_path(test_id: @test.id) %><br>
<%= link_to t('.list'), admin_tests_path %>
